/*SAFFRON*/
@font-face {
  font-family: 'saffronmedium';
  src: url('../saffron/saffron-webfont.woff2') format('woff2'),
       url('../saffron/saffron-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*HERO SECTION*/
.hero {
	position: relative;
	height: 90vh;
	min-height: 450px;
	background: 
		linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0)
    ), url("../images/main.jpg") no-repeat fixed 50% 50%;
	background-size: cover;
}

.hero-content {
	position: absolute;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
}

.hero-heading {
	padding-top: 37vh;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1),
				 0px 8px 13px rgba(0, 0, 0, 0.3),
				 0px 18px 23px rgba(0, 0, 0, 0.5);
	transition: all 0.3s ease;
}

.hero-heading-main {
	text-align: center;
}

.hero-heading-sub {
	text-align: center;
	font-weight: lighter;
	letter-spacing: 4px;
}

/*COUPLE PHOTO SECTION*/
.couple-photo {
	width: 100%;
	height: 400px;
}

.couple-photo > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 0%;
}

/*ITINERARY SECTION*/
.itinerary {
	position: relative;
}

.itinerary-line {
	position: absolute;
	width: calc(50% + 3px);
	height: 100%;
	border-right: 4px solid #707070;
	z-index: 1;
}

.itinerary-event {
	display: flex;
}

.itinerary-event:nth-child(odd) {
	justify-content: flex-end;
}

.event {
	max-width: 300px;
	width: 45%;
}

.event-title {
	background-color: #707070;
	color: #F5F6FA;
	padding: 0 15px;
}

.event-title > h3 {
	margin: 0;
  padding-top: 0px;
  letter-spacing: 2px;
  font-weight: 200;
}

.event-title > hr {
	margin: 0;
	border: 0.5px solid #F5F6FA;
}

.event-date > p {
	font-size: 0.5rem;
	margin: 0;
	font-weight: lighter;
}

.event-icon {
	z-index: 99;
	position: absolute;
	right: calc(50% - 21px);
	background: #707070;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-top: 5px
}

.event-icon > i {
	font-size: 20px;
	position: relative;
	top: 20%;
	left: 28.5%;
	color: #F5F6FA;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 27px solid transparent;
  border-bottom: 27px solid transparent; 
  border-right: 27px solid #707070; 
}

.even-arrow-left {
  width: 0; 
  height: 0; 
  border-top: 27px solid transparent;
  border-bottom: 27px solid transparent; 
  border-right: 27px solid #707070; 
  display: none;
}

.arrow-left:nth-child(even) {
	display: none;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 27px solid transparent;
  border-bottom: 27px solid transparent;
  border-left: 27px solid #707070;
}

.event-body-ml {
	margin-left: 27px;
	padding: 15px;
}

.event-body-mr {
	margin-right: 27px;
	padding: 15px;
}

.event-body-ml > p, .event-body-mr > p {
	margin: 0;
}

/*PARTY*/
.party-bg {
  position: relative;
}

.party-bg::after {
  content: "";
  background-image: url('..party/bridesmaid-logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.125;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.party-card {
	width: 100%;
	border: 1px solid rgba(0,0,0,0);
	background-color: rgba(255, 255, 255, 0);
}

.party-pic {
	height: 100px;
	width: 100px;
	align-self: center;
	/*border: 5px solid #E1E2E6;*/
	/*border-radius: 50%;*/
	transition: all 0.3s ease;
}

.party-pic > img {
	width: 100px;
	border: 5px solid #E1E2E6;
	border-radius: 50%;
}

.party-pic-animation {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}

.party-content {
	max-width: 500px;
}

/*POSTS*/
.posts-card {
	width: 100%;
	border: 1px solid rgba(0,0,0,0);
	background-color: rgba(255, 255, 255, 0);
}

.posts-pic {
	height: 70px;
	width: 70px;
	min-width: 70px;
	border: 5px solid #E1E2E6;
	border-radius: 50%;
}

.post-pic-default {
	height: 70px;
	width: 70px;
	border: 5px solid #E1E2E6;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1.5rem;
}

.post-pic-default > p {
	margin: 0;
}

.posts-name {
	margin-bottom: .25rem;
}

.comments-name {
	margin-bottom: 0;
}

.comment-pic {
	height: 60px;
	width: 60px;
	border: 5px solid #E1E2E6;
	border-radius: 50%;
}

.comment-pic-default {
	height: 60px;
	width: 60px;
	border: 5px solid #E1E2E6;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1.5rem;
}

.comment-pic-default > p {
	margin: 0;
}

.comment-container {
	flex: 1;
}

.posts-content {
	flex: 1;
}

.posts-date {
	font-size: .5rem;
	color: #ced0d2;
}

.post-nav-header {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

.post-input {
	width: 100%;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #f8f9fa;
	padding: .75rem 1.25rem;
}

.btn-register {
	width: 48%;
}

.btn-signin {
	width: 48%;
}

.message-delete {
	padding: 1rem;
	margin: 0;
	border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem;
	display: none;
}

.message-delete > p {
	font-size: 14px;
}

/*GALLERY*/
.gallery {
	min-width: 180px;
	display: flex;
	flex: 1;
	margin-left: .5rem;
	margin-right: .5rem;
}

.gallery-odd {
	flex-direction: column;
}

.gallery-even {
	flex-direction: column-reverse;
}

.landscape {
	width: 100%;
	height: 160px;
}

.landscape > img {
	width: 100%;
	height: 100%;
	border: 5px solid #E1E2E6;
	object-fit: cover;
	object-position: 50% 0;
}

.portrait {
	width: 100%;
	height: 230px;
}

.portrait > img {
	width: 100%;
	height: 100%;
	border: 5px solid #E1E2E6;
	object-fit: cover;
	object-position: 50% 0;
}

/*CONTACT*/


/*FOOTER*/
.social-icon-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 30px;
}

/*LOCATION BUTTON*/
.location-icon {
	height:	150px;
	width: 150px;
	border-radius: 50%;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2),
				 0px 8px 13px rgba(0, 0, 0, 0.2),
				 0px 18px 23px rgba(0, 0, 0, 0.2);
	-webkit-transform: scale(.4);
	-ms-transform: scale(.4);
	transform: scale(.4);
	transition: all ease .3s;
	text-decoration: none;
	background-color: #E1E2E6;
}

.location-icon:hover {
	-webkit-transform: scale(.55);
	-ms-transform: scale(.55);
	transform: scale(.55);
	text-decoration: none;
}

.location-icon > p {
	margin: 0;
}

.location-icon > i {
	font-size: 60px;
}

.location-fixed {
	text-decoration: none;
	text-align: center;
	position: fixed;
	bottom: 0;
	right: 0;
}

/*LOCATIONS*/
.tab-dots {
	flex: 1;
	border-bottom: 1px dotted #E1E2E6;
	height: 23px;
	margin-left: 1rem;
	margin-right: 1rem;
}

#map {
	height: 80vh;
	width: 100%;
	background-color: #d9d9d9;
}

/*MISCILANIOUS*/
.image-placeholder {
	font-size: 150px;
	opacity: 0.4;
}

.saffron-xl {
	font-family: 'saffronmedium';
	font-size: 2.5em;
	letter-spacing: 0px;
}

.saffron-lg {
	font-family: 'saffronmedium';
	font-size: 2em;
	letter-spacing: 0px;
}

.saffron-md {
	font-family: 'saffronmedium';
	font-size: 1.5em;
	letter-spacing: 0px;
}

.saffron-sm {
	font-family: 'saffronmedium';
	font-size: 1em;
	letter-spacing: 0px;
}

.saffron-xs {
	font-family: 'saffronmedium';
	font-size: .75em;
	letter-spacing: 0px;
}

/*GLOBAL*/
body {
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
	letter-spacing: 1px;
	line-height: 1.8;
}

.heading-main {
	text-align: center;
	font-family: 'saffronmedium';
	font-size: 2em;
	letter-spacing: 0px;
}

.heading-main-line {
	width: 50%;
}

.active {
	border-bottom: 1px solid rgba(0,0,0,.9);
}

.navbar-dark > div > div > ul > .active {
	border-bottom: 1px solid rgba(248,249,250,.9);
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.flex-column-to-row {
	flex-direction: column;
}

.flex-row-to-column {
	flex-direction: row;
}

p.card-link {
	color: #007bff;
	margin: 0;
	cursor: pointer;
}

form {
	width: 100%;
}

.no-border {
	border: 0px;
}

@media (min-width: 1200px) {
	.container {
    max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
	  max-width: 720px;
	}
}

@media (max-width: 768px) {
	.hero {
		height: 100vh;
		min-height: 500px;
	}	

	.hero-heading {
		/*padding-top: 10vh;*/
	}

	.party-content {
		max-width: 300px;
	}

		.couple-photo {
		height: 300px;
	}

	.portrait {
		height: 345px;
	}

	.gallery {
		min-width: 210px;
	}
}

@media (max-width: 576px) {
	.flex-column-to-row {
	  flex-direction: row;
	}

	.flex-row-to-column {
		flex-direction: column;
	}

	.itinerary-line {
		width: 20px;
	}

	.event-icon {
		left: -2px;
	}

	.event {
		max-width: 100%;
		width: 100%;
		margin-left: 50px;
	}

	.event-body-mr {
		margin-right: 0;
		margin-left: 27px;
	}

	.arrow-right {
		transform: rotate(180deg);
	}

	.even {
		flex-direction: row-reverse;
	}

	.party-pic {
		margin-bottom: 1rem;
		align-self: flex-start;
	}

	.party-content {
		max-width: 100%;
	}

	.post-nav-header-extra-text {
		display: none;
	}

	.landscape {
		height: 310px;
	}


	.party-pic-animation {
	  -webkit-transform: scale(1);
	  -ms-transform: scale(1);
	  transform: scale(1);
		-webkit-transform: translateX(calc((100vw / 2) - 85px));
	  -ms-transform: translateX(calc((100vw / 2) - 85px));
	  transform: translateX(calc((100vw / 2) - 85px));
	}

	.hero-heading {
		-webkit-transform: translateY(70px);
	  -ms-transform: translateY(70px);
	  transform: translateY(70px);
	}

	.comment-pic-default {
		display: none;
	}

	.post-pic-default {
		height: 50px;
		width: 50px;
		border: 2px solid #E1E2E6;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: .75rem;
	}

	.comments-text {
		font-size: .8rem;
	}
}
